<li class="list-group-item" >
  <span class="list-item-title">
    {{title}}
    <div class="icons float-right" data-id={{id}}>
      <i class="fas fa-edit edit-article"></i>
      <i class="fas fa-trash-alt text-danger delete-article"></i>
    </div>

  </span>

</li>